@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Regles generales */
*, *:after, *:before {
  /*box-sizing: border-box;*/
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  /* 14px par défaut */
  /*font-family: 'Noto sans', sans-serif;*/
}

a, a:hover, a:visited {
  /* ATTENTION LES LIENS SONT BLANC DANS CE MODELE*/
  /*color: #fff;*/
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.retour {
  display: block;
}

body {
  overflow-x: hidden;
}

.desktop {
  display: none;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: url(./../img/hero-mobile.jpg);
  background-size: cover;
  position: absolute;
  z-index: 1;
}
.main-menu {
  height: 7.5vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
}
.main-menu__logo {
  width: 5rem;
}
.main-menu__case {
  display: none;
}
.main-menu__case:checked ~ .links {
  right: 0;
}
.main-menu__case:checked ~ .main-menu__burger::before {
  font-size: 3.6em;
  content: "✖";
}
.main-menu__burger::before {
  color: #fff;
  content: "≡";
  font-size: 6em;
  font-weight: 700;
}
.main-menu__burger {
  z-index: 10;
}
.main-menu .links {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: -50vw;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-image: url(./../img/menu.png);
  background-size: cover;
  transition: right 1s;
  font-size: 1.5rem;
  z-index: 5;
}
.main-menu .links__link {
  background-color: rgba(246, 163, 28, 0.8);
  padding: 2vh 7.5vw;
  margin-bottom: 5vh;
  font-size: 3rem;
  clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
  font-family: "Montserrat", sans-serif;
}
.main-menu .links__link a {
  color: #fff;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-content__logo {
  width: 30vh;
}
.main-content__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  margin-top: 1vh;
  margin-bottom: 55vh;
  color: #fff;
}
.main-content__button {
  position: relative;
  display: block;
  background: transparent;
  width: 200px;
  height: 40px;
  line-height: 50px;
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none;
  color: #f6a31c;
  margin: 40px auto;
  box-sizing: border-box;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}
.main-content__button::before, .main-content__button::after {
  position: absolute;
  content: "";
  width: 200px;
  left: 0px;
  height: 20px;
  z-index: -1;
  border: 4px solid #f6a31c;
}
.main-content__button::before {
  transform: perspective(15px) rotateX(3deg);
  border-bottom: none;
}
.main-content__button::after {
  top: 24px;
  transform: perspective(15px) rotateX(-3deg);
  border-top: none;
  /* to prevent the border-line showing up in the middle of the shape */
}
.main-content__button:hover::before, .main-content__button:hover::after {
  background: #f6a31c;
}
.main-content__button:hover {
  color: #fff;
}
.main-content__callAction {
  position: relative;
  width: 80px;
  height: 60px;
  text-align: center;
  font-size: 2.5rem;
  color: #f64438;
  transform: rotate(90deg);
}
.main-content__callAction::before, .main-content__callAction::after {
  position: absolute;
  content: "";
  width: 90px;
  left: 0px;
  height: 20px;
  border: 4px solid #f64438;
}
.main-content__callAction::before {
  transform: perspective(10px) rotateX(8deg);
  border-bottom: none;
}
.main-content__callAction::after {
  top: 27px;
  transform: perspective(10px) rotateX(-8deg);
  border-top: none;
  /* to prevent the border-line showing up in the middle of the shape */
}
.main-content__callAction i {
  position: absolute;
  top: 7px;
  left: 30px;
  font-size: 1.5em;
}

@media screen and (max-width: 639px) {
  .fonctionnalite {
    height: 80vh;
    width: 100vw;
    background-color: #66c3cf;
    overflow: hidden;
    position: absolute;
    top: 85vh;
    z-index: 2;
    clip-path: polygon(25% 18.5%, 75% 18.5%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  .fonctionnalite-title {
    margin-top: 20vh;
    text-align: center;
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }
  .fonctionnalite .items {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 130vw;
    height: 20vh;
    left: -15vw;
    padding-top: 8vh;
  }
  .fonctionnalite .items-item1__image {
    width: 15vh;
    padding: 0 1vh;
  }
  .fonctionnalite .items-item1__text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 3vh;
    margin-top: 2.5vh;
  }
  .fonctionnalite .items-item2__image {
    width: 11vh;
    padding: 0 1vh;
  }
  .fonctionnalite .items-item2__text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 2vh;
    margin-top: 1.5vh;
  }
  .fonctionnalite .items-item3__image {
    width: 8vh;
    padding: 0 1vh;
  }
  .fonctionnalite .items-item3__text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 1.5vh;
    margin-top: 3vh;
  }

  .preconisation {
    height: 80vh;
    width: 100vw;
    background-color: #1cbec1;
    overflow: hidden;
    position: absolute;
    top: 140vh;
    z-index: 3;
    clip-path: polygon(25% 18.5%, 75% 18.5%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  .preconisation-title {
    margin-top: 20vh;
    text-align: center;
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }
  .preconisation .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 5vh;
  }
  .preconisation .items-item1 {
    width: 60vw;
  }
  .preconisation .items-item1__image {
    background-color: #f64438;
    width: 6.5vh;
    padding: 1.5vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  .preconisation .items-item1__title {
    color: #f64438;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    margin: 1vh 0;
  }
  .preconisation .items-item1__text {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin-bottom: 3vh;
  }
  .preconisation .items-item2 {
    width: 50vw;
  }
  .preconisation .items-item2__image {
    background-color: #f64438;
    width: 5vh;
    padding: 1vh 1.5vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  .preconisation .items-item2__title {
    color: #f64438;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin: 1vh 0;
  }
  .preconisation .items-item2__text {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3vh;
  }
  .preconisation .items-item3 {
    width: 40vw;
  }
  .preconisation .items-item3__image {
    background-color: #f64438;
    width: 3vh;
    padding: 1vh 2vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  .preconisation .items-item3__title {
    color: #f64438;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin: 1vh 0;
  }
  .preconisation .items-item3__text {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-bottom: 3vh;
  }

  .footer {
    height: 80vh;
    width: 100vw;
    background-color: #157fb0;
    overflow: hidden;
    position: absolute;
    top: 205vh;
    z-index: 4;
    clip-path: polygon(25% 18.5%, 75% 18.5%, 100% 0, 100% 100%, 0 100%, 0 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .footer-logo {
    margin-top: 20vh;
    width: 15vh;
    margin-bottom: 5vh;
  }
  .footer-about {
    width: 70vw;
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 3vh;
  }
  .footer-text {
    width: 70vw;
    font-size: 1.16rem;
    line-height: 12.5px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 4vh;
  }
  .footer-contact {
    width: 70vw;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 5vh;
  }
  .footer-contact .orange {
    color: #f6a31c;
  }
  .footer-follow {
    width: 70vw;
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 3vh;
  }
  .footer .networks {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer .networks-network {
    font-size: 2.25rem;
    background-color: #f6a31c;
    color: #157fb0;
    width: 3vh;
    padding: 1vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: grid;
    place-items: center;
  }
}
@media screen and (min-width: 640px) {
  .desktop {
    display: block;
  }

  .main {
    background-image: url(./../img/hero.jpg);
  }
  .main-menu .links {
    width: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(./../img/menu-desktop.png);
  }
  .main-menu .links__link {
    font-size: 3vw;
    padding: 2vh 3vw;
  }
  .main-content {
    margin-top: 20vh;
    width: 100vw;
  }
  .main-content__logo {
    width: 25vw;
    margin-right: 50%;
  }
  .main-content__title {
    margin-bottom: 0;
    margin-top: 3vh;
    font-size: 3vw;
    margin-right: 36.5%;
  }
  .main-content__button {
    width: 15vw;
    height: 2vw;
    font-size: 1.5vw;
    margin-left: 35.5%;
  }
  .main-content__button::before, .main-content__button::after {
    width: 15vw;
  }
  .main-content__button::after {
    top: 1.25vw;
  }
  .main-content__callAction {
    margin-top: 20vh;
  }

  .fonctionnalite {
    height: 120vh;
    width: 100vw;
    background-color: #66c3cf;
    overflow: hidden;
    position: absolute;
    top: 75vh;
    z-index: 2;
    clip-path: polygon(25% 20%, 75% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  .fonctionnalite-title {
    margin-top: 28vh;
    text-align: center;
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }
  .fonctionnalite .items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    padding-top: 8vh;
    flex-wrap: wrap;
  }
  .fonctionnalite .items-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1vh 1vw;
    flex: 1 1 20vw;
  }
  .fonctionnalite .items-item__image {
    width: clamp(10vw, 12.5vw, 15vw);
  }
  .fonctionnalite .items-item__text {
    display: none;
    position: absolute;
    margin-top: 0vh;
    background: #f6a31c;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: clamp(1vw, 1.25vw, 1.5vw);
    width: clamp(10vw, 12.5vw, 15vw);
    padding-top: clamp(6vw, 7.25vw, 8.5vw);
    padding-bottom: clamp(6vw, 7.25vw, 8.5vw);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }
  .fonctionnalite .items-item:hover .items-item__text {
    display: grid;
  }

  .preconisation {
    height: 130vh;
    width: 100vw;
    background-color: #1cbec1;
    overflow: hidden;
    position: absolute;
    top: 169vh;
    z-index: 3;
    clip-path: polygon(25% 15%, 75% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  .preconisation-title {
    margin-top: 28vh;
    text-align: center;
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }
  .preconisation .items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 5vh;
    flex-wrap: wrap;
  }
  .preconisation .items-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    flex: 1 1 20vw;
    padding: 1vh 1vw;
  }
  .preconisation .items-item__image {
    background-color: #f64438;
    width: 3vw;
    padding: 1.5vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  .preconisation .items-item__title {
    color: #f64438;
    font-family: "Montserrat", sans-serif;
    font-size: 2.25rem;
    margin: 1vh 0;
  }
  .preconisation .items-item__text {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    margin-bottom: 3vh;
    width: 20vw;
  }

  .footer {
    height: 80vh;
    width: 100vw;
    background-color: #157fb0;
    overflow: hidden;
    position: absolute;
    top: 283vh;
    z-index: 4;
    clip-path: polygon(25% 20%, 75% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-logo {
    margin-left: 5vw;
    margin-top: 20vh;
    width: 15vw;
  }
  .footer-about {
    width: 30vw;
    margin-top: 25vh;
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 4vh;
  }
  .footer-text {
    width: 30vw;
    font-size: 1.16rem;
    line-height: 12.5px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 5vh;
  }
  .footer-contact {
    width: 30vw;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 5vh;
  }
  .footer-contact .orange {
    color: #f6a31c;
  }
  .footer-follow {
    margin-top: 20vh;
    width: 30vw;
    font-size: 1.7rem;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin-bottom: 3vh;
  }
  .footer .networks {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 9vh;
    margin-right: 5vw;
  }
  .footer .networks-network {
    font-size: 2.25rem;
    background-color: #f6a31c;
    color: #157fb0;
    width: 3vh;
    padding: 1vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: grid;
    place-items: center;
  }
}